Repository materialsproject/atomate2, pull requests merged in 2023-11, with the labels that each got.

#587 Add setting `VASP_RUN_DDEC6: bool = False`
  src/atomate2/cp2k/schemas/calculation.py
  src/atomate2/forcefields/schemas.py
  src/atomate2/settings.py
  src/atomate2/vasp/jobs/base.py
  tests/common/test_settings.py
  tests/vasp/flows/test_phonons.py
Labels: feature, vasp

#612 [MAINT] contrib to allow CI runs
  docs/about/contributors.md
Labels: documentation

#611 fea: add MACE RelaxMaker and StaticMaker
  .github/PULL_REQUEST_TEMPLATE.md
  pyproject.toml
  src/atomate2/forcefields/jobs.py
  tests/forcefields/flows/test_elastic.py
  tests/forcefields/flows/test_phonon.py
  tests/forcefields/test_jobs.py
  tests/test_data/forcefields/mace/MACE.model
Labels: enhancement, forcefields

#614 MACE Static/RelaxMakers default to loading `mace_mp` instead of test model
  pyproject.toml
  src/atomate2/forcefields/jobs.py
  src/atomate2/vasp/flows/phonons.py
  tests/forcefields/flows/test_elastic.py
  tests/forcefields/test_jobs.py
Labels: enhancement, forcefields
