Repository materialsproject/atomate2, pull requests merged in 2024-03, with the labels that each got.

#766 Add `revert_default_dtype` context manager to fix clashing global `torch.dtype` between MACE and CHGNet
  src/atomate2/aims/files.py
  src/atomate2/aims/flows/core.py
  src/atomate2/aims/flows/gw.py
  src/atomate2/aims/flows/phonons.py
  src/atomate2/aims/jobs/core.py
  src/atomate2/aims/jobs/phonons.py
  src/atomate2/aims/run.py
  src/atomate2/aims/schemas/calculation.py
  src/atomate2/aims/schemas/task.py
  src/atomate2/aims/utils/__init__.py
  src/atomate2/aims/utils/bands.py
  src/atomate2/aims/utils/units.py
  src/atomate2/common/flows/eos.py
  src/atomate2/common/jobs/eos.py
  src/atomate2/forcefields/flows/eos.py
  src/atomate2/forcefields/jobs.py
  src/atomate2/forcefields/utils.py
  src/atomate2/vasp/flows/electrode.py
  src/atomate2/vasp/flows/phonons.py
  src/atomate2/vasp/jobs/phonons.py
  tests/aims/test_flows/test_core.py
  tests/aims/test_flows/test_gw_convergence.py
  tests/aims/test_flows/test_phonon_workflow.py
  tests/aims/test_makers/test_convergence.py
  tests/aims/test_makers/test_static.py
  tests/vasp/flows/test_eos.py
Labels: fix, forcefields

#767 Make functions prefixed with `_` but cross-imported public
  CHANGELOG.md
  src/atomate2/aims/files.py
  src/atomate2/aims/flows/phonons.py
  src/atomate2/common/schemas/elastic.py
  src/atomate2/vasp/run.py
  src/atomate2/vasp/sets/base.py
  tests/common/jobs/test_elastic.py
  tests/vasp/flows/test_eos.py
  tests/vasp/test_base.py
Labels: house-keeping

#764 Add nequip force field relax- and staticmaker and corresponding tests
  .github/workflows/testing.yml
  src/atomate2/forcefields/__init__.py
  src/atomate2/forcefields/jobs.py
  tests/conftest.py
  tests/forcefields/test_jobs.py
  tests/test_data/forcefields/nequip/nequip_ff_sr_ti_o3.pth
  tests/test_data/structures/SrTiO3.cif
Labels: feature, forcefields
