Repository materialsproject/atomate2, pull requests merged in 2024-07, with the labels that each got.

#889 Equation of State workflow for FHI-aims
  src/atomate2/aims/flows/eos.py
  tests/aims/test_flows/test_eos.py
  tests/aims/test_flows/test_phonon_workflow.py
  tests/test_data/aims/eos-si/0/inputs/control.in.gz
  tests/test_data/aims/eos-si/0/inputs/geometry.in.gz
  tests/test_data/aims/eos-si/0/outputs/aims.out.gz
  tests/test_data/aims/eos-si/1/inputs/control.in.gz
  tests/test_data/aims/eos-si/1/inputs/geometry.in.gz
  tests/test_data/aims/eos-si/1/outputs/aims.out.gz
  tests/test_data/aims/eos-si/2/inputs/control.in.gz
  tests/test_data/aims/eos-si/2/inputs/geometry.in.gz
  tests/test_data/aims/eos-si/2/outputs/aims.out.gz
  tests/test_data/aims/eos-si/3/inputs/control.in.gz
  tests/test_data/aims/eos-si/3/inputs/geometry.in.gz
  tests/test_data/aims/eos-si/3/outputs/aims.out.gz
Labels: enhancement, eos

#776 Tutorial for blob storage with test
  .github/workflows/testing.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  tests/vasp/conftest.py
  tutorials/__init__.py
  tutorials/blob_storage.ipynb
  tutorials/mock_vasp.py
Labels: docs, testing

#918 Add `SevenNetRelaxMaker` + `SevenNetStaticMaker` to force field jobs
  docs/user/codes/vasp.md
  docs/user/docs_schemas_emmet.md
  pyproject.toml
  src/atomate2/forcefields/__init__.py
  src/atomate2/forcefields/jobs.py
  src/atomate2/forcefields/utils.py
  tests/common/jobs/test_phonon.py
Labels: enhancement, forcefields, phonon
