Repository materialsproject/atomate2, pull requests merged in 2024-04, with the labels that each got.

#794 Warn on non-default `ATOMATE2_CONFIG_FILE` that's not found
  .pre-commit-config.yaml
  src/atomate2/settings.py
  tests/common/test_settings.py
Labels: testing, ux

#792 Add flexible filename and extension to phonon new_plotter
  src/atomate2/common/flows/phonons.py
  src/atomate2/common/schemas/phonons.py
  tests/forcefields/flows/test_phonon.py
Labels: enhancement, phonon, schema

#783 Simplify phonon `get_supercell_size()` and test clean up
  .pre-commit-config.yaml
  src/atomate2/aims/files.py
  src/atomate2/common/jobs/phonons.py
  src/atomate2/common/schemas/phonons.py
  src/atomate2/cp2k/files.py
  src/atomate2/cp2k/sets/base.py
  src/atomate2/qchem/sets/base.py
  src/atomate2/utils/file_client.py
  src/atomate2/vasp/builders/elastic.py
  src/atomate2/vasp/sets/base.py
  tests/abinit/conftest.py
  tests/abinit/jobs/test_core.py
  tests/forcefields/flows/test_phonon.py
  tests/test_data/vasp/Si_lobster/relax_1/inputs/POSCAR
  tests/test_data/vasp/Si_lobster/relax_2/inputs/POSCAR
  tests/test_data/vasp/Si_lobster/static_run/inputs/POSCAR
  tests/test_data/vasp/Si_lobster_uniform/non-scf_uniform/inputs/POSCAR
  tests/test_data/vasp/Si_lobster_uniform/relax_1/inputs/POSCAR
  tests/test_data/vasp/Si_lobster_uniform/relax_2/inputs/POSCAR
  tests/test_data/vasp/Si_lobster_uniform/static/inputs/POSCAR
  tests/test_data/vasp/Si_phonons_1/phonon_static_1_1/inputs/POSCAR
  tests/test_data/vasp/Si_phonons_2/phonon_static_1_1/inputs/POSCAR
  tests/test_data/vasp/Si_phonons_2/static/inputs/POSCAR
  tests/test_data/vasp/Si_phonons_3/phonon_static_1_1/inputs/POSCAR
  tests/test_data/vasp/Si_phonons_3/static/inputs/POSCAR
  tests/test_data/vasp/Si_phonons_4/tight_relax_1/inputs/POSCAR
  tests/vasp/flows/test_phonons.py
  tests/vasp/lobster/flows/test_lobster.py
Labels: dependencies, testing, ci

#789 Add `fix_symmetry: bool = False` option to forcefield relax makers
  src/atomate2/forcefields/jobs.py
  src/atomate2/forcefields/schemas.py
  src/atomate2/forcefields/utils.py
  tests/conftest.py
  tests/forcefields/test_jobs.py
  tests/forcefields/test_utils.py
  tests/test_data/structures/BaTiO3.cif
Labels: enhancement, forcefields, symmetry

#810 Add more details to the installation guide
  docs/user/install.md
Labels: docs, ux
