Repository materialsproject/atomate2, pull requests merged in 2024-09, with the labels that each got.

#988 Remove emmet `==` pin in `pyproject.toml` and update version in `strict`
  pyproject.toml
Labels: dependencies, ecosystem

#782 Atomate2 OpenMM integration & broader classical MD framework
  .github/workflows/testing.yml
  docs/user/codes/openmm.md
  pyproject.toml
  src/atomate2/openff/__init__.py
  src/atomate2/openff/core.py
  src/atomate2/openff/utils.py
  src/atomate2/openmm/__init__.py
  src/atomate2/openmm/flows/__init__.py
  src/atomate2/openmm/flows/core.py
  src/atomate2/openmm/jobs/__init__.py
  src/atomate2/openmm/jobs/base.py
  src/atomate2/openmm/jobs/core.py
  src/atomate2/openmm/jobs/generate.py
  src/atomate2/openmm/utils.py
  tests/common/schemas/test_cclib.py
  tests/openff_md/__init__.py
  tests/openff_md/conftest.py
  tests/openff_md/test_core.py
  tests/openff_md/test_utils.py
  tests/openmm_md/__init__.py
  tests/openmm_md/conftest.py
  tests/openmm_md/flows/__init__.py
  tests/openmm_md/flows/test_core.py
  tests/openmm_md/jobs/__init__.py
  tests/openmm_md/jobs/test_base.py
  tests/openmm_md/jobs/test_core.py
  tests/openmm_md/jobs/test_generate.py
  tests/openmm_md/test_utils.py
  tests/test_data/openff/geometries/trimer.pdb
  tests/test_data/openff/geometries/trimer.txt
  tests/test_data/openff/molecule_charge_files/CCO.npy
  tests/test_data/openff/molecule_charge_files/CCO.xyz
  tests/test_data/openff/molecule_charge_files/FEC-r.xyz
  tests/test_data/openff/molecule_charge_files/FEC-s.xyz
  tests/test_data/openff/molecule_charge_files/FEC.npy
  tests/test_data/openff/molecule_charge_files/FEC_bad.npy
  tests/test_data/openff/molecule_charge_files/Li.npy
  tests/test_data/openff/molecule_charge_files/Li.xyz
  tests/test_data/openff/molecule_charge_files/PF6.npy
  tests/test_data/openff/molecule_charge_files/PF6.xyz
  tests/test_data/openmm/opls_xml_files/CCO.xml
  tests/test_data/openmm/opls_xml_files/CO.xml
  tutorials/openmm_tutorial.ipynb
Labels: enhancement, ecosystem, feature, schema

#863 Frequency Flattening Optimizer
  .gitignore
  src/atomate2/qchem/flows/__init__.py
  src/atomate2/qchem/flows/core.py
  src/atomate2/qchem/jobs/base.py
  src/atomate2/qchem/jobs/core.py
  src/atomate2/qchem/run.py
  src/atomate2/qchem/sets/base.py
  src/atomate2/settings.py
  tests/qchem/conftest.py
  tests/qchem/flows/test_core.py
  tests/qchem/jobs/H2O.xyz
  tests/qchem/jobs/test_core.py
  tests/test_data/qchem/ffopt/frequency_analysis_1/inputs/mol.qin.gz
  tests/test_data/qchem/ffopt/frequency_analysis_1/outputs/132.0.gz
  tests/test_data/qchem/ffopt/frequency_analysis_1/outputs/53.0.gz
  tests/test_data/qchem/ffopt/frequency_analysis_1/outputs/HESS.gz
  tests/test_data/qchem/ffopt/frequency_analysis_1/outputs/mol.qclog.gz
  tests/test_data/qchem/ffopt/frequency_analysis_1/outputs/mol.qin.gz
  tests/test_data/qchem/ffopt/frequency_analysis_1/outputs/mol.qin.orig.gz
  tests/test_data/qchem/ffopt/frequency_analysis_1/outputs/mol.qout.gz
  tests/test_data/qchem/ffopt/geometry_optimization/inputs/mol.qin.gz
  tests/test_data/qchem/ffopt/geometry_optimization/outputs/131.0.gz
  tests/test_data/qchem/ffopt/geometry_optimization/outputs/53.0.gz
  tests/test_data/qchem/ffopt/geometry_optimization/outputs/GRAD.gz
  tests/test_data/qchem/ffopt/geometry_optimization/outputs/mol.qclog.gz
  tests/test_data/qchem/ffopt/geometry_optimization/outputs/mol.qin.gz
  tests/test_data/qchem/ffopt/geometry_optimization/outputs/mol.qin.orig.gz
  tests/test_data/qchem/ffopt/geometry_optimization/outputs/mol.qout.gz
Labels: feature, qchem, new wf

#940 Generalize forcefields for generic ASE calculator support
  .github/workflows/testing.yml
  pyproject.toml
  src/atomate2/aims/flows/phonons.py
  src/atomate2/ase/__init__.py
  src/atomate2/ase/jobs.py
  src/atomate2/ase/md.py
  src/atomate2/ase/schemas.py
  src/atomate2/ase/utils.py
  src/atomate2/common/flows/phonons.py
  src/atomate2/common/schemas/phonons.py
  src/atomate2/forcefields/__init__.py
  src/atomate2/forcefields/flows/elastic.py
  src/atomate2/forcefields/flows/eos.py
  src/atomate2/forcefields/flows/gruneisen.py
  src/atomate2/forcefields/flows/phonons.py
  src/atomate2/forcefields/flows/qha.py
  src/atomate2/forcefields/flows/relax.py
  src/atomate2/forcefields/jobs.py
  src/atomate2/forcefields/md.py
  src/atomate2/forcefields/schemas.py
  src/atomate2/forcefields/utils.py
  src/atomate2/vasp/flows/eos.py
  src/atomate2/vasp/flows/phonons.py
  tests/ase/conftest.py
  tests/ase/test_jobs.py
  tests/ase/test_md.py
  tests/ase/test_utils.py
  tests/common/jobs/test_gruneisen.py
  tests/common/schemas/test_qha.py
  tests/forcefields/conftest.py
  tests/forcefields/flows/test_elastic.py
  tests/forcefields/flows/test_eos.py
  tests/forcefields/flows/test_gruneisen.py
  tests/forcefields/flows/test_phonon.py
  tests/forcefields/flows/test_qha.py
  tests/forcefields/test_jobs.py
  tests/forcefields/test_md.py
  tests/forcefields/test_phonon.py
  tests/forcefields/test_utils.py
Labels: forcefields, refactor, ase

#992 Bump min supported Python to 3.10
  .github/workflows/testing.yml
  .github/workflows/update-precommit.yml
  .pre-commit-config.yaml
  README.md
  docs/conf.py
  docs/user/codes/openmm.md
  docs/user/install.md
  pyproject.toml
  src/atomate2/abinit/sets/base.py
  src/atomate2/abinit/sets/core.py
  src/atomate2/abinit/utils/history.py
  src/atomate2/aims/utils/bands.py
  src/atomate2/ase/md.py
  src/atomate2/ase/utils.py
  src/atomate2/cli/dev.py
  src/atomate2/common/flows/magnetism.py
  src/atomate2/common/jobs/anharmonicity.py
  src/atomate2/common/jobs/defect.py
  src/atomate2/common/jobs/elastic.py
  src/atomate2/common/jobs/electrode.py
  src/atomate2/common/jobs/magnetism.py
  src/atomate2/common/jobs/qha.py
  src/atomate2/common/schemas/defects.py
  src/atomate2/common/schemas/elastic.py
  src/atomate2/common/schemas/gruneisen.py
  src/atomate2/common/schemas/qha.py
  src/atomate2/common/utils.py
  src/atomate2/cp2k/jobs/base.py
  src/atomate2/forcefields/jobs.py
  src/atomate2/lobster/schemas.py
  src/atomate2/openff/core.py
  src/atomate2/openff/utils.py
  src/atomate2/openmm/jobs/base.py
  src/atomate2/openmm/jobs/core.py
  src/atomate2/openmm/jobs/generate.py
  src/atomate2/qchem/jobs/base.py
  src/atomate2/utils/file_client.py
  src/atomate2/vasp/jobs/adsorption.py
  src/atomate2/vasp/jobs/base.py
  src/atomate2/vasp/jobs/elph.py
  tests/common/schemas/test_qha.py
  tests/forcefields/test_md.py
  tests/qchem/conftest.py
  tests/qchem/flows/test_core.py
  tests/vasp/conftest.py
  tests/vasp/flows/test_eos.py
  tests/vasp/schemas/test_defect.py
  tests/vasp/sets/test_matpes.py
Labels: docs, pkg, ci

#993 Excise openff dependency from openmm testing
  src/atomate2/openmm/flows/core.py
  src/atomate2/openmm/jobs/base.py
  src/atomate2/openmm/utils.py
  tests/openff_md/test_core.py
  tests/openff_md/test_utils.py
  tests/openmm_md/conftest.py
  tests/openmm_md/flows/test_core.py
  tests/openmm_md/jobs/test_base.py
  tests/openmm_md/jobs/test_core.py
  tests/openmm_md/jobs/test_generate.py
  tests/test_data/openmm/interchange.json
Labels: testing, dx, md

#996 Fix `prev_dir` behavior in input set generator of `MPGGAStaticMaker`
  src/atomate2/vasp/jobs/mp.py
  tests/vasp/jobs/test_mp.py
Labels: fix, ecosystem, vasp

#985 Use `pytest-split` to parallelize across 3 runners and speedup CI
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/testing.yml
  pyproject.toml
  tests/.pytest-split-durations
Labels: dx, ci
